@using oleg_izolation.Helpers
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="Напыляемая теплоизоляция Теплый Дом">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/mainCss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jQAddons")
    @Scripts.Render("~/bundles/base")
</head>
<body>
    <div class="scrollToTop" style="display: none;"><a href="#to_top">ВВЕРХ</a></div>
    <div id="body">
        <header id="header">
            <div class="header-inner clr">
                <div class="info-block">
                    <div class="info-inner">
                        <!--
                        <div class="slogan-block">
                            <div class="slogan-inner">
                            </div>
                        </div>
                        -->
                        <div class="adress-block">
                            <div class="adress-inner">
                                <i class="fa fa-map-marker fa-2x phone-header-color" aria-hidden="true" style="margin-right:6px"></i>
                                <div class="adress-info">г. СПб, пр-т Энергетиков 10А, БЦ «Кролл»</div>
                            </div>
                        </div>

                        <div class="phone-block">
                            <div class="phone-inner">
                                <i class="fa fa-phone phone-header-color" aria-hidden="true" style="margin-right:8px;font-size:28px"></i>
                                <div class="phone-info">+7 (911) 704-14-79</div>
                                <div style="margin-top:-10px"><a href="@Url.Action("callBackForm","Home")" class="call-back-form-link fancybox fancybox.ajax" value="Бесплатный звонок" style="">Бесплатный звонок</a></div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                </div>

                <div class="clear"></div>




                <div class="logo-block">
                    <a href="@Url.Action("Index","Home")" class="logo-link">
                        <img src="~/Content/Images/logo.png" alt="Теплый Дом" class="sidebar-logo">
                    </a>
                </div>
                <nav class="top-menu">
                    <div class="top-menu-inner clr">
                        <ul class="menu" id="yw0">
                            <li class="home"><a href="@Url.Action("Index","Home")">О компании</a></li>
                            <li class="price"><a href="@Url.Action("Price","Home")">Цены</a></li>
                            <li class="photo"><a href="@Url.Action("Photo","Home")">Фото</a></li>
                            <li class="recomendation"><a href="@Url.Action("Recomendation","Home")">Рекомендации по утеплению</a></li>
                            <li class="contacts"><a href="@Url.Action("Contacts","Home")">Контакты</a></li>
                        </ul>
                        <script>
                            if ('@ViewBag.PageName' != '') {
                                $('.@ViewBag.PageName').addClass("active");
                            }
                        </script>
                    </div>
                </nav>
                
                <div class="header-bottom-block clear">

                    <section id="slider" class="clear">
                        <div class="box_skitter box_skitter_large">
                            <ul style="display: none;">
                                <li>
                                    <img src="~/Content/Images/banner.png" alt="Авто">
                                </li>
                            </ul>
                            <span class="info_slide_dots" style="display: none; left: 10px;"> </span><div class="container_skitter" style="width: 1000px; height: 350px;"><div class="image"><a><img class="image_main" src="~/Content/Images/banner.png" style="display: inline;"></a><div class="label_skitter" style="display: none; width: 1000px;"></div></div></div>
                        </div>
                    </section>


                </div>
            </div>
        </header>
        <a name="top"></a>
        <div id="bl_preim">
            <div class="container" style="width:933px; padding-top:25px; padding-bottom:10px">
                <img src="~/Content/Images/preim.png">
            </div>
        </div>
        <section id="main">
            <div class="main-inner clr">
                <aside id="sidebar">
                    <div class="sidebar-inner">

                        <div class="sidebar-block menu_left">
                            <h3 class="title-sidebar">МЕНЮ</h3>
                            <div class="content-sidebar">
                                <ul class="menu" id="yw1">
                                    <li>
                                        @Html.LandingPageUrl("Penopyleyretan", "Пенополиуретан")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Polimochevina", "Полимочевина")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Yteplenie_1", "Утепление напыляемым пенополиуретаном жилого дома")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Yteplenie_2", "Утепление напыляемым пенополиуретаном подвала")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Yteplenie_3", "Утепление напыляемым пенополиуретаном фундамента и цоколя")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Yteplenie_4", "Утепление напыляемым пенополиуретаном ангара")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Yteplenie_5", "Утепление напыляемым пенополиуретаном фургона")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Yteplenie_6", "Утепление напыляемым пенополиуретаном гаража")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Yteplenie_7", "Утепление напыляемым пенополиуретаном бани и сауны")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Gidroizolation_1", "Гидроизоляция полимочевиной фундамента")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Gidroizolation_2", "Гидроизоляция полимочевиной подвала")
                                    </li>
                                    <li>
                                        @Html.LandingPageUrl("Gidroizolation_3", "Гидроизоляция полимочевиной кровли")
                                    </li>
                                </ul>
                                
                            </div>
                        </div>




                    </div>
                </aside>
                <section id="content">
                    <div class="content-inner">
                        <article id="article" class="page">
                            <div class="article-inner">
                                @RenderBody()
                                <script>
                                    if ('@ViewBag.LeftMenu' != '') {
                                        var urls = $('.landingPageHref');
                                        for (var i = 0; i < urls.length; i++) {
                                            var jQElem = $(urls[i]);
                                            if (jQElem.attr("href").indexOf('@ViewBag.LeftMenu') >= 1) {
                                                $(jQElem.parent()).addClass("active");
                                            }
                                        }
                                    }
                                </script>
                            </div>
                        </article>
                    </div>
                    <div class="clear"></div>
                </section>
            </div>
        </section>
    </div>
    <footer id="footer">
        <div class="footer-inner clr">
            <div class="info-block clr">

                <div class="phone-block">
                    <div class="phone-inner">
                        <h4>Телефон</h4>
                        <div class="phone-info">+7 (911) 704-14-79</div>
                    </div>
                </div>

                <div class="adress-block">
                    <div class="adress-inner">
                        <h4>Адрес</h4>
                        <div class="adress-info">г. СПб, пр-т Энергетиков 10А, БЦ «Кролл»</div>
                    </div>
                </div>

                <div class="email-block">
                    <div class="email-inner">
                        <h4>Почта</h4>
                        <div class="email-info">
                            <a href="mailto:1453948@mail.ru">1453948@mail.ru</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="foot_bl_left">
                <div class="copy-block">
                    <div class="copy-inner">
                        <a href="@Url.Action("Index","Home")">изоляцияспб.рф</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="modal-wrap"></div>
    <div id="modal-msg">
        <a href="#" class="close" title="Закрыть">×</a>
        <div class="content"></div>
    </div>
</body>
</html>